body{
	font-family: 'Inter', sans-serif;
}
header{
	width: 1680px;
	height: 100px;
	border: 1px solid;
	padding: 22px 100px;
	position: sticky;
	top: 0;
	left: 0;
	color: #fff;
	background-color: #fff;
	z-index: 1;
}

.logo{
	display: inline;
}

.nav, li{
	display: inline-block;
	vertical-align: middle;
}

.nav{
	margin: 0 195px;
}

.book-btn{
	padding: 13px 50px;
	background: #FF5403;
	color: #fff;
}

.main-img{
	width: 100%;
	height: 722px;
}

main{
	position: relative;
}

.text-wrapper{
	position: absolute;
	left: 0;
	top: 0;
	text-align: center;
	width: 100%;
	margin-top: 190px;

}

.text-buddy{
	color: #fff;
	font-size: 96px;
	font-weight: 700;
	letter-spacing: 6.72px;
}

.little-text{
	font-size: 20px;
	font-weight: 400;
	color: #fff;
	margin-top: 5px;
	letter-spacing: 0.6px;
}

.discover-btn{
	display: flex;
	width: 250px;
	height: 66px;
	padding: 13px 50px;
	justify-content: center;
	align-items: center;
	gap: 10px;
	margin-top: 100px;
	margin-left: 700px;
	border: px solid;
	background: #FF5403;
	color: #fff;

}

.btn-1{
	margin-right: 50px;
}

.btn-2{
	margin-right: 50px;
}

.btn-3{
	margin-right: 50px;
}

.btn-4{
	margin-right: 50px;
}

a{
	color: #696969;
}

.top-places{
	color: #041562;
	text-align: center;
	font-family: Inter;
	font-size: 36px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	letter-spacing: 1.8px;
	margin-top: 282px;
}

.little-text2{
	color: #626262;
	text-align: center;
	font-family: Inter;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	letter-spacing: 0.9px;
}

.landscape1{
	margin-top: 75px;
	margin-left: 130px;
}

.landscape2{
	margin-top: 75px;
	margin-left: 150px;
}

.landscape3{
	margin-left: 130px;
	margin-top: 170px;
}

.landscape4{
	margin-left: 150px;
}

.top-hotels{
	color: #041562;
	text-align: center;
	font-family: Inter;
	font-size: 36px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	letter-spacing: 1.8px;
	margin-top: 188px;

}

.top-hotels2{
	color: #626262;
	text-align: center;
	font-family: Inter;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	letter-spacing: 0.9px;
}

.build1{
	margin-top: 75px;
	margin-left: 130px;
	margin-right: 50px;
}

.build2{
	margin-right: 50px;
}


.star1{
	margin-left: 150px;
}


.hotel1{
	color: #000;
	margin-left: 130px;
	margin-top: 30px;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 1.2px;
}










